/* Reset and Body Styling */
* {
    padding: 10;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #201313;
  }
  
  /* Container Styling */
  .container {
    position: absolute;
    perspective: 1000px; /* Enables 3D effect */
    height: 400px;
    width: 400px;
    cursor: pointer;
    padding: 1.5em 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container:hover .card {
    transform: rotateX(180deg); /* Flips the card on hover */
  }
  
  /* Card Styling */
  .card {
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
    transition: 0.5s ease; /* Smooth animation */
  }
  
  /* Front and Back Sides Styling */
  .front,
  .back {
    position: absolute;
    color: #ffffff;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    backface-visibility: hidden; /* Hides the reverse side */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family:  "Caveat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 15px;
    font-style: normal;
  }
  
  /* Front Side */
  .front {
    background: linear-gradient(to right, #fc2302, #6523fe); /* Gradient background */
  }
  
  /* Back Side */
  .back {
    transform: rotateX(180deg); /* Flips the back side */
    background-color: #28253a;
  }